@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}


body {
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}
#container2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1000;
}
#layoutSection {
    flex-grow: 1;
}
.hide {
    display: none;
}

.All{
width: 200px;
}

/* 헤더 */

nav {
    position: relative;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 25px;
}

nav .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background: #FF1847;

}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
   align-items: baseline;
}

nav ul li {
    margin: 0 0 0 0;
    opacity: 1;
    transition: all 0.4s ease;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    padding: 0 35px;

}

nav ul li:hover {
    opacity: .7;
}

nav ul li.active {
    opacity: 1;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-align: center;
    width: 200px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 16px;
}

.mySlides .hero ul>li>figure {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid white;
    padding: 20px;
    border-radius: 0.45em;
    float: left;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.mySlides ul>li>figure>img {
    height: 100%;
    width: 100%;
}

.mySlides .hero ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.25rem;
    padding: 0;
    margin: 0 10px;
}



.container {
    margin: 30px 50px;
    position: absolute;
    /* margin: auto; */
    /* top: 0; */
    /* left: 0; */
    right: 0;
    /* bottom: 0; */
    width: 300px;
    z-index: 6;
}

.container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 120px;
    width: 25px;
    height: 30px;
    /*background: crimson;*/
    background: black;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.container .search:hover {
    cursor: pointer;
}

.container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 23px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}

.container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}

.container input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 50px;
    outline: none;
    border: 1px solid white;
    background: black;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 0 0px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 black, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.container input:hover {
    cursor: pointer;
}

.container input:focus {
    width: 245px;
    right: 300px;
    opacity: 1;
    cursor: text;
}

.container input:focus ~ .search {
    /*right: -250px;*/
    /* background: #151515; */
    z-index: 6;
}

.container input:focus ~ .search::before {
    top: 0;
    left: 5px;
    width: 25px;
}

.container input:focus ~ .search::after {
    top: 0;
    left: 5px;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.container input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}


/* 푸터 */
footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 5px;
    margin-top: 180px;
    font-size: 0.8em;
}


<!-------------------------------------->

    label .menu {
        position: absolute;
        right: 8px;
        top: -100px;
        z-index: 100;
        width: 64px;
        height: 175px;
        background: rgb(0, 0, 0);
        /* border-radius: 50% 50% 50% 50%; */
        -webkit-transition: .1s ease-in-out;
        transition: .3s ease-in-out;
        box-shadow: 0 0 0 0 rgb(0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0.421);
        cursor: pointer;
    }

label .hamburger {
    position: absolute;
    top: 135px;
    left: 20px;
    width: 30px;
    height: 2.5px;
    background: rgb(255, 255, 255);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(241, 241, 241);
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

#chk {
    display: none;
}

label input:checked+.menu {
    /*z-index: 40;*/
    background-color: #b2bec3;
    box-shadow: 50vw 0vw 0vh 1050px rgba(0, 0, 0, 0.64);
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


.side {
    position: fixed;
    right: 10px;
    top: 100px;
    /*position: relative;*/
    z-index: 100;
    /*top: -90px;*/
    height: 100vh;
    width: 18%;
    /*float: right;*/
    text-align: left;
    line-height: 90px;
    font-size: 1.4em;
    display: none;
}

.side{
    animation: text-focus-in2 .4s cubic-bezier(0.550,0.085,0.680,0.530) both;
}
@keyframes text-focus-in2 {
    0%{
        filter:blur(12px);
        opacity: 0;
    }
    100%{
        filter: blur(0px);
        opacity: 1;
    }
}

.side div:hover{
    opacity: 0.7;
}
.side div{
    display: block;
}

/*--------------------------------------------*/

#none-popup::before {
    content: 'Logout';
}
#none-popup:hover{
    animation-play-state: paused;
}
#none-popup:hover::before{
    content: '로그아웃';
}



#mypage::before {
    content: 'mypage';
}

#mypage:hover{
    animation-play-state: paused;
}
#mypage:hover::before {
    content: '마이페이지';
}



.myfavoriteM::before {
    content: 'my favorite movie';
}

.myfavoriteM:hover{
    animation-play-state: paused;
}
.myfavoriteM:hover::before {
    content: '내가 찜한 영화';
}


.myfavoriteR::before {
    content: 'my reveiw';
}

.myfavoriteR:hover{
    animation-play-state: paused;
}
.myfavoriteR:hover::before {
    content: '내가 작성한 리뷰';
}



.fReviewer::before {
    content: 'following reviewer';
}

.fReviewer:hover{
    animation-play-state: paused;
}
.fReviewer:hover::before {
    content: '내가 구독한 리뷰어';
}

.myFreview::before {
    content: 'my favorite review';
}

.myFreview:hover{
    animation-play-state: paused;
}
.myFreview:hover::before {
    content: '내가 찜한 리뷰';
}




/*.menu{*/
/*    position: absolute;*/
/*    right: 72px;*/
/*    top: -100px;*/
/*}*/


