* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}


body {
    padding: 0;
    margin: 0;
    background-color: black;
}


/* ν—¤λ” */
.hero {
    width: 100%;

}
.hero nav {
    position: relative;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.hero nav .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background: #FF1847;

}

.hero nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.hero nav ul li {
    margin: 0 0 0 0;
    opacity: .4;
    transition: all 0.4s ease;
    margin-top: 90px;
    color: rgb(0, 0, 0);
    padding: 0 70px;

}

.hero nav ul li:hover {
    opacity: .7;
}

.hero nav ul li.active {
    opacity: 1;
}

.hero nav ul li:last-child {
    margin-right: 0;
}

.hero nav ul li a {
    text-align: center;
    width: 175px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 16px;
}

.hero ul>li>figure {
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid white;
    padding: 20px;
    border-radius: 0.45em;
    float: left;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.hero ul>li>figure>img {
    height: 100%;
    width: 100%;
}

.hero ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.25rem;
    padding: 0;
    margin: 0 10px;
}

@media(max-width: 600px) {
    ul {
        margin: 50px;
    }
}


/* ν‘Έν„° */
footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 100%;
    height:40px;
    text-align: center;
    bottom: 0;
    padding: 5px;
    margin-top: 150px;
}