<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/favReview.css}">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/favReview.js}"></script>
    </th:block>
    <title>로그인</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="table">
        <table>
            <tr>
                <td rowspan="5"><img class="poster" src="/누림/img/닥터스트레인지.jpg"></td>
                <td class="width" colspan="3">제목명</td>
            </tr>
            <tr>
                <td class="width" colspan="3">작성자</td>
            </tr>
            <tr>
                <td class="width" colspan="3">작성일</td>
            </tr>
            <tr>
                <td class="width" colspan="3">평점</td>
            </tr>
            <tr>
                <td class="width" colspan="3">리뷰</td>
            </tr>
        </table>
        <table>
            <tr>
                <td rowspan="5"><img class="poster" src="/누림/img/닥터스트레인지.jpg"></td>
                <td class="width" colspan="3">제목명</td>
            </tr>
            <tr>
                <td class="width"  colspan="3">작성자</td>
            </tr>
            <tr>
                <td class="width" colspan="3">작성일</td>
            </tr>
            <tr>
                <td class="width" colspan="3">평점</td>
            </tr>
            <tr>
                <td class="width" colspan="3">리뷰</td>
            </tr>
        </table>
    </div>
</th:block>
</body>
</html>