<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/profileLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/followingReviewrDetail.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/followingReviewr.js}"></script>
    </th:block>
    <title>following reviewer</title>
</head>
<body>
<th:block layout:fragment="content">

    <div id="ALL">
        <div class="p2">
            <p>내가 구독한 리뷰어</p>
        </div>
        <th:block th:each="subuser : ${followReviewer}">
        <ul class="container">
            <li class="card">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <figure class="content">
                    <img class="h" th:src="${subuser.profileImg}">
                    <!-- if문으로 프로필사진 없는사람은 로고 뜨도록 설정해주기 -->
                    <div>
                        <p th:text="${subuser.unn}" class="pro"></p>
                        <p th:text="${subuser.regdt}" class="pro"></p>
                        <p th:text="'리뷰 ' + ${subuser.countMyReview} +  ' 댓글 '+ ${subuser.countMyReview_cmt} + ' 좋아요 '+ ${subuser.countMyReviewLike}" href="#" class="pro"></p>
                    </div>
                </figure>
            </li>
        </ul>

    </th:block>
    </div>
</th:block>
</body>
</html>