<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/profileLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/followingReviewerDetail.css}">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/followingReviewerDetail.js}"></script>
    </th:block>
    <title>followingReviewerDetail</title>
</head>
<body>
<section layout:fragment="content">
    <div class="profile">
        <img class="img" src="/img/login/6.jpg">
        <h4>가입일 | 닉네임</h4>
        <p class="self">자기소개</p>
    </div>
<table class="box">
    <tr>
    <td class="text">현재댓글</td>
        <td class="text">현재답글</td>
        <td class="text">받은공감</td>
    </tr>

</table>
</section>
</body>
</html>