<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/profileLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/followingReviewerDetail.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/followingReviewerDetail.js}"></script>
    </th:block>
    <title>following reviewer detail</title>
</head>
<body>
<section layout:fragment="content">
    <div class="profile">
        <th:block class="img" th:if="${subuser.profileImg} != null"><img class="mainProfile" th:src="${subuser.profileImg}">
        </th:block>
        <th:block class="img" th:if="${subuser.profileImg} == null"><img class="mainProfile" src="/img/logo/noprofile.png">
        </th:block>
        <h4 th:text="${subuser.unn}" | th:text="${subuser.regdt}"></h4>
        <p class="self">자기소개</p>
    </div>
<table class="box">
    <tr>
    <td class="text">현재댓글</td>
        <td class="text">현재답글</td>
    </tr>
    <tr>
        <td class="text">10</td>
        <td class="text">35</td>
        <td class="text">3</td>
    </tr>
</table>
    <div class="line">
    <hr  noshade="1" style="border: solid 1px black; width: 30%;margin: 30px auto;" >
    </div>
</section>
</body>
</html>