<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basiclayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/followingReviewer.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/followingReviewer.js}"></script>
    </th:block>
    <title>following reviewer</title>
</head>
<body>
<th:block layout:fragment="content">

        <div class="p2">
            <div>내가 구독한 리뷰어</div>
        </div>
    <div id="ALL">
        <th:block th:each="subuser : ${followReviewer}">
        <ul class="container3">
            <li class="card">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <figure class="content">
                    <th:block class="h" th:if="${subuser.profileImg} != null"><img class="mainProfile" th:src="${subuser.profileImg}">
                    </th:block>
                    <th:block class="h" th:if="${subuser.profileImg} == null"><img class="mainProfile" src="/img/logo/noprofile.png">
                    </th:block>
                    <div>
                        <p th:text="${subuser.unn}" class="pro"></p>
                        <p th:text="${subuser.regdt}" class="pro"></p>
                        <p th:text="'리뷰 ' + ${subuser.countMyReview} +  ' 댓글 '+ ${subuser.countMyReview_cmt} + ' 좋아요 '+ ${subuser.countMyReviewLike}" href="#" class="pro"></p>
                    </div>
                </figure>
            </li>
        </ul>
    </th:block>
    </div>
</th:block>
</body>
</html>