<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="basicLayout">
<head>
    <title>로그인</title>
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <link rel="stylesheet" th:href="@{/css/user/login2.css}">
</th:block>
<th:block layout:fragment="js">
    <script defer th:src="@{/js/user/login.js}"></script>
</th:block>

<section layout:fragment="content">
    <label>
        <input type="checkbox" id="chk">
        <span class="menu">
      <span class='hamburger'></span>
    </span>
    </label>
    <div class="menu-list">
        <ul>
            <div class="link-1">

                <li>
                    <a href="#"><span class="a" id="popup_open_btn"></span></a>
                </li>
                <li>
                    <a class="a"><span id="mypage"></span></a>
                </li>

                <li>
                    <a class="a"><span class="movie"></span></a>
                </li>

                <li>
                    <a class="a"><span class="reviewer"></span></a>
                </li>

                <li>
                    <a class="a"><span class="qna"></span></a>
                </li>

                <li>
                    <a class="a"><span class=""></span></a>
                </li>
        </ul>
    </div>


    <h3 class="test"
        onclick="location.href='http://127.0.0.1:5500/%EC%9E%90%EB%B0%94%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8/menubarUnderline.html'">
        test</h3>
    <a href="http://127.0.0.1:5500/%EB%88%84%EB%A6%BC/developers.html#" class="h">Developed by NURIM</a>


    <div id="my_modal">
        <div class="container">
                <div class="move">
                    <input type="submit" class="p-button" onclick="login()" value="로그인">
                </div>

                <div class="login">
                    <input class="email" name="uid" type="text" placeholder="이메일"><span class="go">@</span>
                    <select name="job" class="select">
                        <option name="selectBox" value="">선택해주세요</option>
                        <option>naver.com</option>
                        <option>daum.net</option>
                        <option>nate.com</option>
                    </select>
                    <div>
                        <input type="password" name="upw" placeholder="password" class="log2">
                    </div>
                    <!--<a th:href="@{/oauth2/authorization/naver}">네이버</a>
                    <a th:href="@{/oauth2/authorization/kakao}">카카오</a>
                    <a th:href="@{/oauth2/authorization/google}">구글</a>
                    <a th:href="@{/oauth2/authorization/facebook}">페이스북</a>-->
                </div>


            <div class="welcome">
                <h4 class="bold2">로그인</h4>
            </div>
            <div class="form">
                <h4 class="bold title">회원가입</h4>
                <input type="text" placeholder="Name" id="join">
                <input type="text" placeholder="Nickname" id="nick">
                <input type="text" placeholder="Age" id="age">
                <input type="text" placeholder="nurim@bunker.com" id="email">
                <input type="password" placeholder="password" id="pw"><br>
                <input type="password" placeholder="Confirm password" id="pw2"><br>
                <p class="normal forgot">Forgot your password?</p>

                <button type="button" class="b-button normal" onclick="check()">회원가입</button>
            </div>
        </div>
        <a class="modal_close_btn"><img th:src="@{/img/login/close.png}" style="width:35px; height:35px"></a>
    </div>


    </div>
</section>
</html>
