<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/myFavMovie.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/myFavMovie.js}"></script>
    </th:block>
    <title>my favorite movie</title>
</head>
<body>
<th:block layout:fragment="content"> <!-- 반복문 돌려야해 -->
        <div class="p2">
            <p>내가 찜한 영화</p>
        </div>
    <div id="ALL">
   <th:block th:each="myFavMovie : ${myFavMovie}">
        <ul class="container5">
            <li class="card">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <figure class="content">
                    <a class="aTag">
                    <img class="x" th:src="'https://image.tmdb.org/t/p/w500/' + ${myFavMovie.posterPath}"><!-- 영화 포스터 -->
                        <div class="darkness">
                            <div class="btn-plus">
                                <a href="#" class="pro" ${}></a> <!-- 영화명 -->
                                <p th:text="${myFavMovie.title}"></p>
                            </div>
                        </div>
                    </a>
                </figure>
            </li>
        </ul>
   </th:block>
    </div>
</th:block>
</body>
</html>