<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/profileLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/myFavMovie.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/myFavMovie.js}"></script>
    </th:block>
    <title>myFavMovie</title>
</head>
<body>
<th:block layout:fragment="content">

</th:block>
</body>
</html>