<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/myReview.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/myReview.js}"></script>
    </th:block>
    <title>my review</title>
</head>
<body>
<th:block layout:fragment="content">
    <section id="reviewContainer">
        <th:block th:each="reviewList : ${selMyReviewList}">
            <p th:text="reviewList.unn"></p>
        </th:block>
    </section>
</th:block>
</body>
</html>