<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/profileLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/profile.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/profileMod.js}"></script>
    </th:block>
    <title>profile mod</title>
</head>
<body>
<!-- profile.html과 사용방법은 같습니다.-->
<!--  th:if="${auth.provider.equals('local')}" -->
<section layout:fragment="content" th:with="auth=${#authentication.getPrincipal().getUser()}">
    <div id="ALL">
        <div class="top">
            <div class="profilemod">프로필 수정하기</div>
            <input class="button trigger" id="byeModal" type="button" value="회원탈퇴">
            <br>
            <br>
            <div class="all">
                <div id="pfimg">
                    <img class="imgch" src="/img/camerar.png" onclick="chimg">
                </div>
                <th:block th:if="${auth.profileImg} != null"><img class="mainProfile" th:src="${auth.profileImg}">
                </th:block>
                <th:block th:else="${auth.profileImg} == null"><img class="mainProfile" src="/img/logo/noprofile.png">
                </th:block>

<!--                프로필사진에 event 걸기 / local 아니면 프로필사진 변경불가 -->
<!--                <th:block th:lf="${auth.provider.equals('local')}">-->
<!--                <img class="mainProfile" th:src="${auth.profileImg}">-->
<!--                </th:block>-->
<!--                <th:block th:unless!="${auth.provider.equals('local')}"}>-->
<!--                <img class="mainProfile" th:src="">-->
<!--                </th:block>-->

            </div>
            <br>
            <ul class="detail">
                <li class="fw">나의 계정</li>
                <input type="submit" id="pfre" class="button" value="수정하기"> <!-- 비밀번호 수정 모달 띄우기 -->
                <li th:text="'아이디 : ' + ${auth.uid}"></li>
                <li th:text="'비밀번호 : ********'"></li> <!-- 이렇게 하면 아예 안뜸, *****로 뜨게 하기 -->
                <button class="btn-modPassword">비밀번호 변경</button>
                <div><li th:text="'닉네임 : '"></li><input type="text" name="unn" th:value="${auth.unn}"></div>
                <li th:text="'가입일 : ' + ${auth.regdt}"></li>
                <!--            <li th:text="${auth.provider}"></li>-->
                <hr style="width: 70%; margin-top: 10px;">
                <li class="fw">자기소개</li>
                <input type="text" name="introduce" th:value="${auth.introduce}">
            </ul>
        </div>
    </div>

    <div id="pw_modal">
        <div class="container">

        </div>
    </div>
    <section class="modal-wrapper">
        <div class="modal">
            <div class="head">
                <a class="btn-close trigger" href="#">
                    <i class="far fa-times-circle"></i>
                </a>
            </div>
            <form action="/user/byeUser" method="post">
                <div><label><span>비밀번호 : </span>
                    <input type="password" name="upw" placeholder="password"></label>
                </div>
                <div><label><span>비밀번호 확인 : </span>
                    <input type="password" name="upw_chk" placeholder="passwordchk"></label></div>
                <div><label><span>'탈퇴하겠습니다.' 를 적어주십시오. </span>
                    <input type="text" name="del_chk"></label></div>
                <input class="button" id="bye" type="button" value="회원탈퇴" onclick="if(bye_confirm()===true) submit();">
            </form>
        </div>
    </section>
</section>
</body>
</html>