<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/profileLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/profile.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/profileMod.js}"></script>
    </th:block>
    <title>profile mod</title>
</head>
<body>
<section layout:fragment="content" th:with="auth=${#authentication.getPrincipal().getUser()}">
    <div id="ALL">
        <div class="top">
            <div class="profilemod">
                <th:block th:if="${auth.provider eq 'local'}"><div class="p">프로필 수정하기</div></th:block>
                <th:block th:if="${auth.provider != 'local'}"><div class="p">자기소개 수정하기</div></th:block>
            </div>
            <br>
            <div class="all">
                <form th:if="${auth.provider eq 'local'}" th:action="@{/user/profileImg}" method="post" enctype="multipart/form-data">
                    <div id="pfimg">
                        <img class="imgch" src="/img/camera.png">
                        <input id="imgInput" class="invisible" type="file" name="img" accept="image/*">
                    <!-- type="file" : 파일 인풋 ; multiple : 여러 파일 업로드 가능 ; accept="image/*" 이미지만 받는다. -->
                    </div>
                        <div class="up">
                        <input class="upload" type="submit" value="업로드">
                        </div>
                </form>

                <th:block th:if="${auth.profileImg} != null"><img class="mainProfile" th:src="${auth.profileImg}">
                </th:block>
                <th:block th:if="${auth.profileImg} == null"><img class="mainProfile" src="/img/logo/noprofile.png">
                </th:block>

<!--                프로필사진에 event 걸기 / local 아니면 프로필사진 변경불가 -->
<!--                <th:block th:lf="${auth.provider.equals('local')}">-->
<!--                <img class="mainProfile" th:src="${auth.profileImg}">-->
<!--                </th:block>-->
<!--                <th:block th:unless!="${auth.provider.equals('local')}"}>-->
<!--                <img class="mainProfile" th:src="">-->
<!--                </th:block>-->

            </div>
            <br>
            <ul class="detail">
                <div class="f">
                <form action="/user/profileMod" method="post">
                <li class="fw" id="fw">나의 계정</li>
                <li th:text="'아이디 : ' + ${auth.uid}" class="font"></li>
                    <div class="d">
                <li id="upwStarView" class="pwt" th:text="'비밀번호 : ********'"></li>
                <input type="button" class="pwmodbtn" value="비밀번호 변경">
                    </div>
                <input id="pwHiddenElem" type="hidden" name="upw">
                <div>
                    <li class="name" th:text="'닉네임 : '"></li>
                    <input type="text" name="unn" th:value="${auth.unn}" class="unn">
                </div>
                <li th:text="'가입일 : ' + ${auth.regdt}" class="font"></li>
                <hr>
                <li class="fw">자기소개</li>
                <input class="introduce" type="text" name="introduce" th:value="${auth.introduce}">
                    <div class="s">
                <input type="submit" id="save" class="button" value="저장하기">
                    </div>
                </form>
                </div>
            </ul>
            <hr>
            <div class="l">
            <input class="button trigger" id="byebtn" type="button" value="회원탈퇴하기">
            </div>
        </div>
    </div>

    <section id="pw_modal" class="modal-wrapper">
        <div class="modal">
            <div class="head">
                <a class="pwMod-close" href="#">
                    <i class="far fa-times-circle"></i>
                </a>
            </div>
            <div><label><span>비밀번호 : </span>
                <input id="modalUpw" type="password" name="upw" placeholder="password"></label>
            </div>
            <div><label><span>비밀번호 확인 : </span>
                <input id="modalUpwChk" type="password" name="upw_chk"></label></div>
            <div><label><span>새 비밀번호 : </span>
                <input id="modalNewUpw" type="password" name="new_upw"></label></div>
            <button id="pw_mod_btn">변경</button>
        </div>
    </section>
    <section id="byeUserModal" class="modal-wrapper">
        <div class="modal">
            <div class="head">
                <a class="btn-close trigger" href="#">
                    <i class="far fa-times-circle"></i>
                </a>
            </div>
            <form action="/user/byeUser" method="post">
                <div class="formtag">
                    <div><label><span>비밀번호 : </span>
                        <input type="password" name="upw" placeholder=" 비밀번호"></label>
                    </div>
                    <div><label><span>비밀번호 확인 : </span>
                        <input type="password" name="upw_chk" placeholder=" 비밀번호확인"></label>
                    </div>
                    <div><label><span>'탈퇴하겠습니다.' 를 적어주십시오. </span>
                        <input type="text" name="del_chk"></label>
                    </div>
                    <input id="realbye" type="button" value="회원탈퇴" onclick="if(bye_confirm()===true) submit();">
                </div>
            </form>
        </div>
    </section>
</section>
</body>
</html>