<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/profileMod.css}">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/profileMod.js}"></script>
    </th:block>
    <title>MyPageMod</title>
</head>
<body>
<!-- profile.html과 사용방법은 같습니다.-->
<th:block layout:fragment="content" th:with="auth=${#authentication.getPrincipal().getUser()}">
    <table>
        <tr>
            <td th:text="${auth.uid}"></td>
        </tr>
        <tr>
<!--            <td th:text="${auth.unm}"></td>-->
        </tr>
        <tr>
            <td th:text="${auth.introduce}"></td>
        </tr>
    </table>
</th:block>
</body>
</html>