<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nurim.mvbunker.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" >
        INSERT INTO t_user
        (uid, ex_key, provider, upw, unm, age, unn, profileImg, auth)
        VALUES
        (#{uid}, #{ex_key}, #{provider}, #{upw}, #{unm}, ${age}, #{unn}, #{profileImg}, #{auth})
    </insert>
    <update id="authUser">
        UPDATE t_user
        SET auth = null
        WHERE uid = #{uid} AND auth = #{auth}
    </update>
    <select id="selUser" resultType="UserEntity">
        SELECT *
        FROM t_user
        WHERE uid = #{uid} AND auth IS NULL AND provider = #{provider}
    </select>

    <delete id="delUser">
        delete from t_user
        where uid = #{uid} and upw = #{upw}
    </delete>

    <update id="updUser">
        UPDATE t_user
        <set>
            <if test="upw != null and upw != ''">
               , upw = #{upw}
            </if>
            <if test="unn != null and unn != ''">
               , unn = #{unn}
            </if>
            <if test="introduce != null and introduce != ''">
               , introduce = #{introduce}
            </if>
            <if test="profileImg != null and profileImg != ''">
                , profileImg = #{profileImg}
            </if>
        </set>
        WHERE i_user = #{i_user}
    </update>

    <!-- Detail : 내가 작성한 리뷰 수 / 내가 작성한 댓글 수 / 받은 좋아요 총합(리뷰) 띄우기 -->
    <select id="selUserProfile" resultType="UserDomain">
        SELECT COUNT(B.i_review)AS'countMyReview',
                (SELECT COUNT(i_user) FROM t_review_cmt WHERE i_user = #{i_user})AS'countMyReview_cmt',
                COUNT(case when A.disLike = 0 then 1 END)AS'countMyReviewLike'
        FROM t_review_like A
                 left JOIN t_review B
                            ON A.i_review = B.i_review
        WHERE B.i_user = #{i_user};
    </select>

    <!-- 작성한 리뷰 목록 띄우기 + 각 평가기준 별 평점-->
    <!-- 정렬 : (default)최신순=orderby 0  |  좋아요 많은 순=orderby1 -->
    <select id="selReviewList" resultType="ReviewDomain">
        select R.unn as unn, R.i_user as i_user, R.i_review as i_review, R.title as title, R.id as id, R.poster as poster, R.regdt as regdt, R.re_ctnt as re_ctnt,
               round((E.production+E.performance+E.visual_beauty+E.music+E.plot)/5, 3) as totalAvg_Review,
               count(case when RL.disLike = 0 then 1 end) as review_like_cnt,
               count(case when RL.disLike = 1 then 1 end) as review_disLike_cnt
        from(
                select B.unn as unn, A.i_user as i_user, A.i_review as i_review, A.title as title, A.id as id, A.poster As poster, A.regdt as regdt, A.re_ctnt as re_ctnt
                from t_review A
                         left join t_user B
                                   on A.i_user = B.i_user
            )R
                left join t_eval E
                          on R.id = E.id and R.i_user = E.i_user
                left join t_review_like RL
                          on R.i_review = RL.i_review
        where R.i_user = ${param.i_user}
        group by R.i_review
        <choose>
            <when test="pagingDTO.orderby == 0">
                order by R.i_review;
            </when>
            <when test="pagingDTO.orderby == 1">
                order by review_like_cnt desc;
            </when>
        </choose>
    </select>

    <!-- 구독 -->
    <insert id="insSub">
        INSERT INTO t_sub
            (sub_ing_user, sub_ed_user)
        VALUES
            (#{i_user}, #{sub_ed_user});
    </insert>
    <delete id="delSub">
        DELETE t_sub WHERE sub_ing_user = #{i_user} and sub_ed_user = #{sub_ed_user};
    </delete>

    <!-- 내가 구독한 유저목록 띄우기 -->
    <select id="mySubUser" resultType="UserDomain">
        SELECT A.unn AS unn, A.profileImg AS profileImg, A.regdt AS regdt, A.introduce AS introduce,
               B.sub_ed_user as i_user
        FROM t_user A
                 INNER JOIN t_sub B
                            ON A.i_user = B.sub_ed_user
        WHERE B.sub_ing_user = #{i_user};
    </select>

    <!-- Following Reviewer Detail - 내가 팔로우한 유저의 프로필 + 작성한 리뷰&팔로워&받은 좋아요 수 -->
    <select id="subUserProfile" resultType="UserDomain">
        SELECT C.i_user AS i_user, C.unn AS unn, C.profileImg AS profileImg, C.regdt AS regdt, C.introduce AS introduce,
               A.review_cnt AS review_cnt, A.follower_cnt AS follower_cnt, A.like_cnt AS like_cnt
        FROM (
                 SELECT B.i_user as i_user,
                        COUNT(B.i_user=${i_user})AS'countMyReview',
                         (SELECT COUNT(sub_ing_user) FROM t_sub WHERE sub_ed_user = #{i_user})AS'countFollower',
                         COUNT(case when A.disLike = 0 then 1 END)AS'countMyReviewLike'
                 FROM t_review B
                          left JOIN t_review_cmt A
                                     ON A.i_review = B.i_review
                 WHERE B.i_user = #{i_user}
             )A
                 INNER JOIN t_user C
                            ON A.i_user = C.i_user;
    </select>

    <!-- 내가 찜한 영화 -->
    <select id="selIsFav" resultType="Integer">
        SELECT COUNT(*)
        FROM t_movie_fav
        WHERE id = ${id} AND i_user = ${i_user}
    </select>
    <insert id="insFavMovie">
        insert into t_movie_fav
        (id, i_user)
        values
        (#{id}, #{i_user})
    </insert>

    <delete id="delFavMovie">
        delete from t_movie_fav where id = #{id} and i_user = #{i_user};
    </delete>

    <select id="selFavMovieList" resultType="MovieDomain"><!-- hover 시 띄워 줄 정보는 제외하고! -->
        select A.posterPath as posterPath, A.id as id, A.title as title, A.originalTitle as originalTitle, A.backdropPath as backdropPath, A.posterPath as posterPath, A.releaseDate as releaseDate, A.adult as adult, A.overview as overview, A.originalLanguage as originalLanguage, A.popularity as popularity, A.mainGenre as mainGenre
        from t_movies A
                 left join t_movie_fav B
                           on A.id = B.id
        where B.i_user = ${i_user};
    </select>

    <!-- 좋아요 누른 리뷰 목록 띄우기 -->
    <select id="selLikeReviews" resultType="ReviewDomain">
        select R.i_user as i_user, R.disLike as disLike,
               C.i_review as i_review, C.id as id, C.title as title, C.poster as poster, C.re_ctnt as re_ctnt, C.regdt as regdt
        from(
                select A.i_review as i_review, A.disLike as disLike, B.i_user as i_user
                from t_review_like A
                         left join t_user B
                                   on A.i_user = B.i_user
                where A.disLike = 0 and A.i_user = ${param.i_user}
            )R
                left join t_review C
                          on R.i_review = C.i_review;
    </select>
</mapper>