<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nurim.mvbunker.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" >
        INSERT INTO t_user
        (uid, ex_key, provider, upw, unm, age, unn, profileImg, auth)
        VALUES
        (#{uid}, #{ex_key}, #{provider}, #{upw}, #{unm}, ${age}, #{unn}, #{profileImg}, #{auth})
    </insert>
    <update id="authUser">
        UPDATE t_user
        SET auth = null
        WHERE uid = #{uid} AND auth = #{auth}
    </update>
    <select id="selUser" resultType="UserEntity">
        SELECT *
        FROM t_user
        WHERE uid = #{uid} AND auth IS NULL AND provider = #{provider}
    </select>

    <delete id="delUser">
        delete from t_user
        where uid = #{uid} and upw = #{upw}
    </delete>

    <update id="updUser">
        UPDATE t_user
        <set>
            <if test="profileImg != null and profileImg != ''">
                profileImg = #{profileImg}
            </if>
            <if test="upw != null and upw != ''">
                upw = #{upw}
            </if>
            <if test="unn != null and unn != ''">
                unn = #{unn}
            </if>
            <if test="introduce != null and introduce != ''">
                introduce = #{introduce}
            </if>
        </set>
        WHERE i_user = #{i_user}
    </update>

    <!-- 내가 작성한 리뷰 / 댓글 / 받은 좋아요 수(리뷰) 띄우기 -->
    <select id="selUserProfile" resultType="UserDomain">
        SELECT COUNT(case when A.disLike = 0 then 1 END)AS'countMyReviewLike',
                COUNT(B.i_user)AS'countMyReview',
                (SELECT COUNT(i_user) FROM t_review_cmt WHERE i_user = #{i_user})AS'countMyReview_cmt'
        FROM t_review_like A
                 INNER JOIN t_review B
                            ON A.i_review = B.i_review
        WHERE B.i_user = #{i_user};
    </select>

    <!-- 내가 작성한 리뷰 목록 띄우기 -->
    <select id="selMyReviewList" resultType="ReviewDomain">
        select A.*, count(case when B.)

    </select>

    <!-- 팔로우 -->
    <!-- 팔로우 등록 -->
    <insert id="insFollower">
        INSERT INTO t_sub
            (sub_ing_user, sub_ed_user)
        VALUES
            (#{i_user}, #{sub_ed_user});
    </insert>

    <!-- 팔로우 취소 -->
    <delete id="delFollower">
        DELETE t_sub WHERE sub_ing_user = #{i_user} and sub_ed_user = #{sub_ed_user};
    </delete>

    <!-- 내가 팔로우한 유저목록 띄우기 -->
    <select id="mySubUser">
        SELECT A.unn AS 닉네임, A.profileImg AS 프로필사진, A.regdt AS 가입일자, A.introduce AS 자기소개
        FROM t_user A
                 INNER JOIN t_sub B
                            ON A.i_user = B.sub_ed_user
        WHERE B.sub_ing_user = #{i_user};
    </select>

</mapper>