<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nurim.mvbunker.user.UserProfileMapper">
    <insert id="insUserProfile">
        insert into t_user_profile
            ( iuser, imgPath )
        values
            ( #{iuser}, #{img})
    </insert>

    <select id="selUserProfile" resultType="UserProfileEntity">
        SELECT profileimg
        from t_user
        where i_user = #{i_user}
    </select>

    <update id="updUserProfile">
        update t_user
        set profileImg = #{profileImg}
        where i_user = #{i_user}
        <selectKey order="AFTER" resultType="String" keyColumn="mainProfile" keyProperty="img">
            select profileImg From t_user where i_user = #{i_user}
        </selectKey>
    </update>
</mapper>