<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/review/review.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/review/review.js}"></script>
    </th:block>
    <title>review</title>
</head>
<body>
<!-- 각 영화의 포스터 + 작성자 + 평점 + 리뷰가 뜨는 페이지 -->
<!-- 마우스 hover 시 : "hover" - title, id, releaseDate, mF_exist(영화좋아요여부), R_disLike(특정 리뷰에 대한 좋/싫여부 = 0이면 like 1이면 disLike),
                        totalAvg_Movie(해당영화 총 평점 평균)
     전체 리뷰 출력 시 : "selAllReview" - unn, i_user, i_review, title, id, poster, regdt, re_ctnt,
                        totalAvg_Review(해당 리뷰 총 평점 평균)-->
<th:block layout:fragment="content">

<section id="allReviewContainer">

<!-- 이부분 반복문 돌리기 -->
<!--    <div class="oneposter">-->
<!--        <div><img src="/figma/Soul.jpg" class="posterimg"></div>-->
<!--        <br>-->
<!--        <div class="onereview">-->
<!--            <div class="personal">-->
<!--                <img src="/figma/noprofile.jpg" class="profileimg">-->
<!--                <span class="user">아이디 | 작성일 : 2021.09.29</span>-->
<!--                <br>-->
<!--                <div class="star">평점 : 5</div>-->
<!--            </div>-->
<!--            <div class="write">리뷰 : 이것은 리뷰다. 이것은 리뷰다. 이것은 리뷰다. 이것은 리뷰다. 이것은 리뷰다. 이것은 리뷰다.-->
<!--                리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰-->
<!--                리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰 리뷰-->
<!--            </div>-->
<!--            <a href="#" class="btn_open">더보기</a>-->
<!--            <a href="#" class="btn_close">숨기기</a>-->
<!--        </div>-->
<!--    </div>-->

</section>
</th:block>
</body>
</html>