<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/review.css}">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/review.js}"></script>
    </th:block>
    <title>review</title>
</head>
<body>
<!-- 각 영화의 포스터 + 작성자 + 평점 + 리뷰가 뜨는 페이지 -->
<th:block layout:fragment="content">
    좋아요순
    최신순

    <div id="wrapper">
        <a href="#">
            <div class="content">
                <div class="post">
                    <img src="/figma/Toystory.jpg">
                </div>
                <div class="info">
                    <h3> 작성자 </h3><br>
                    <h4> 작성일 </h4><br>
                    <h4> 평점 </h4><br>
                    <h4> 리뷰</h4><br>
                </div>
            </div>
        </a>
        <div id="line"><hr style="size:1px; width:80%; color:white; box-shadow: none;"></div>

        <a href="#">
            <div class="content">
                <div class="post">
                    <img src="/figma/Toystory.jpg">
                </div>
                <div class="info">
                    <h3> 작성자 </h3><br>
                    <h4> 작성일 </h4><br>
                    <h4> 평점 </h4><br>
                    <h4> 리뷰</h4><br>
                </div>
            </div>
        </a>
        <div id="line"><hr style="size:1px; width:80%; color:white; box-shadow: none;"></div>

        <a href="#">
            <div class="content">
                <div class="post">
                    <img src="/figma/Toystory.jpg">
                </div>
                <div class="info">
                    <h3> 작성자 </h3><br>
                    <h4> 작성일 </h4><br>
                    <h4> 평점 </h4><br>
                    <h4> 리뷰</h4><br>
                </div>
            </div>
        </a>
        <div id="line"><hr style="size:1px; width:80%; color:white; box-shadow: none;"></div>
    </div>
</th:block>
</body>
</html>