<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/review/review.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/review/review.js}"></script>
    </th:block>
    <title>review</title>
</head>
<body>
<!-- 각 영화의 포스터 + 작성자 + 평점 + 리뷰가 뜨는 페이지 -->
<!-- 마우스 hover 시 : "hover" - title, id, releaseDate, mF_exist(영화좋아요여부), R_disLike(특정 리뷰에 대한 좋/싫여부 = 0이면 like 1이면 disLike),
                        totalAvg_Movie(해당영화 총 평점 평균)
     전체 리뷰 출력 시 : "selAllReview" - unn, i_user, i_review, title, id, poster, regdt, re_ctnt,
                        totalAvg_Review(해당 리뷰 총 평점 평균)-->
<th:block layout:fragment="content">
<th:block th:each="review : ${}">
    <div class="ALL">
        <div id="frame">
            <div class="img">
                <img src="">
            </div>
            <ul class="table">
                <li th:text="닉네임 : + ${}"></li>
                <li th:text="영화 : + ${}"></li>
                <li th:text="리뷰 : + ${}"></li>
                <li th:text="평점 : ${}"></li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>