<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/main.css}">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/user/main.js}"></script>
    </th:block>
    <title>로그인</title>
</head>
<body>
<!-- 지민이가 만든 엄청나게 멋드러진 로고가 들어갈 메인화면 -->
<th:block layout:fragment="content">

</th:block>
</body>
</html>