<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <nav class="navbar">
    <div class="header">
        <a href="/movies/boxoffice"><img class="logo" src="/img/logo/bunkerlogo.png"></a>
    </div>
            <ul class="navbar__menu">
                <li><a href="/user/profileMod">계정 변경하기</a></li>
                <li><a href="/user/profile">나의 프로필</a></li> <!-- 계정 변경하기와 자기소개수정은 사용자에 따라 보이는 것이 달라짐  -->
            </ul>

    <label>
        <input type="checkbox" id="chk">
        <span class="menu">
      <span class='hamburger'></span>
    </span>
    </label>

    </nav>

    <div class="menu-list">
        <ul>
            <div class="link-1">

                <li sec:authorize="isAnonymous()">
                    <a href="#"><span id="popup_open_btn"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/user/logout"><span id="none-popup"></span></a>
                </li>
                <li>
                    <a href="/user/profile" ><span id="mypage"></span></a>
                </li>
                <li>
                    <a href="/user/myFavMovie"><span class="myfavoriteM"></span></a>
                </li>
                <li>
                    <a href="/user/myReview"><span class="myfavoriteR"></span></a>
                </li>
                <li>
                    <a href="/user/followingReviewer" ><span class="fReviewer"></span></a>
                </li>
                <li>
                    <a href="/user/favReview"><span class="myFreview"></span></a>
                </li>
            </div>
        </ul>
    </div>

</th:block>
</html>