<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="footer">
    <footer>

        <div>고객센터(이용문의)  nurim@bunker.co.kr • 053-123-4567 (유료)   /   제휴 및 대외 협력  https://nurim.team/contact</div>
    <div>벙커 대한민국 / 대표 김누림 / 대구 중구 중앙대로 366 9층 10층 / 사업자등록번호 123-45-687890 / 대표번호 053-315-0524 / 개인정보 처리 방침 / 청소년 보호정책</div>
    <div>ⓒ 2021 BUNKER Co., Ltd.All rights reserved.</div>

    </footer>
</th:block>
</html>