* {

    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/*body{*/
/*    -ms-overflow-style: none;*/
/*}*/
/*::-webkit-scrollbar {*/
/*    display: none;*/
/*} !*특정 부분 스크롤바 없애기*!*/
/*.box{*/
/*    -ms-overflow-style: none;*/
/*}*/
/*.box::-webkit-scrollbar {*/
/*    display:none;*/
/*}*/

html,
body {
    padding: 0;
    margin: 0;

    background-color: black;
}

#wrapper {
    width: 100%;
    height:50%;
    margin-left: 15px;
    display:flex;
    flex-direction: column ;
}

.table li{
    list-style: none;
    width: 300px;
    height: 40px;
    /* border-collapse: collapse; */
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-size: 1.2em;
    margin: 0 auto;
}
.table{
    /*border: 1px solid rgba(255, 255, 255, 0.34);*/
    /*filter: drop-shadow(7px 7px 10px rgb(0, 150, 89));*/
    box-shadow: 1px 1px 10px white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:375px;
    border-top-right-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
}


#frame{
    width: 600px;
    display: flex;
    /*background-color: teal;*/
    margin-bottom: 50px;
    float: left;
    margin: 30px 50px;
    margin-bottom: 50px;
    height: 325px;
}

.img{
    width: 230px;
    height: 325px;
    margin: auto 0;

}

.img2{
    width: inherit;
    height: inherit;
    border-top-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    box-shadow: 1px 1px 10px white;
}
#allReviewContainer{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 170px 90px;
}

.ALL{
    margin: 0 auto;
}
#container2 {
    display: flex;
    flex-direction: column;
}

/*footer {*/
/*    background-color: rgb(0, 0, 0);*/
/*    color: #fff;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    bottom: 0;*/
/*    padding: 5px;*/
/*    margin-top: 150px;*/

/*}*/

/* 새로운 디자인 css */
.oneposter{
    width: 300px;
    height: 400px;
    padding: 10px;
}

.posterimg{
    width: 174px;
    height: 260px;
    /*transform: translate(25px, 10px);*/
    /*left:20px; top:10px;*/
    /* margin: 0 auto; */
    border-radius: 0.7em;
    margin-top: 10px;
}

.profileimg{
    float: left;
    width:35px;
    height:35px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}
.moreicon{
    cursor: pointer;
}

.write{
    /* padding: 10px 27px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color:white;
    width: 230px;
}

.side{
    background:black;
}
.onereview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    bottom: 20px;
}


/* 사이드바 */
label .menu {
    position: absolute;
    right: 8px;
    top: -100px;
    z-index: 100;
    width: 64px;
    height: 175px;
    background: rgb(0, 0, 0);
    /* border-radius: 50% 50% 50% 50%; */
    -webkit-transition: .1s ease-in-out;
    transition: .3s ease-in-out;
    /*box-shadow: 0 0 0 0 rgb(0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0.421);*/
    cursor: pointer;
}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 20px;
    width: 30px;
    height: 2.5px;
    background: rgb(255, 255, 255);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(241, 241, 241);
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

#chk {
    display: none;
}

label input:checked+.menu {
    background-color: #b2bec3;
    /*box-shadow: 50vw 0vw 0vh 1050px rgba(0, 0, 0, 0.64);*/
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}


figure {
    margin: 0 auto;
    margin-bottom: 120px;
    /*background-color: white;*/
    color: white;
    position: relative;
    text-align: center;
    font-size: 0.9vw;
}

.star {
    position: absolute;
    top: -15px;
    right: 65px;
    display:inline;
}

.personal {
    width: 230px;
}

.fff{
    position: relative;
    display: flex;
    justify-content: center;
}

.detailreview{
    width: 230px;
}

.hero{
    position: relative;
}

.selectMenu{
    position: absolute;
    width: 200px;
    left: 150px;
    top: 260px;
    font-size: 1.3em;
}

.good{
    cursor: pointer;
    margin-right: 30px;
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    font-size: 1em;
}
.good:hover{
    opacity: 0.7;
}

.recent{
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    font-size: 1em;
}
.recent:hover{
    opacity: 0.7;
}