@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

#container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%
}

.fa-star:before {
    color: yellow;

}
#one {
    position: absolute;
    display:flex;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
    z-index: 10;
}
.fa-heart:before{
    color: red;
    margin-left: 10px;
}
fa-thumbs-up:before{
    color: #009759;
}

#frame{
    position: relative;
    width:66%;
    height: 600px;
    border: 1px solid white;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wBtn{
    width: 60px;
    height: 30px;
    border-radius: 0.7em;
    float: right;
    margin-right: 86px;
    position: absolute;
    right: 7px;
    top: 103px;
}
.r-button {
}
.wBtn2{
    width: 60px;
    height: 30px;
    border-radius: 0.7em;
    float: right;
    margin-right: 22px;
    position: absolute;
    right: 7px;
    top: 103px;
}
#test{
    position: absolute;
    top: 0;
    height: 70px;
    width: 94%;
    margin: 30px auto;
}

#movieStarContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-content: center;
}
.evalTitle {
    font-family: 휴먼편지체, sans-serif;
    font-size: 1.2rem;
    color: white;
}
.starRate{
    width: 1000px;
    height: 300px;
    margin-bottom:20px;
    background-color: #0a0a0a;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.starRate::before {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    z-index: -99;
}
.star-ratings {
    color: #aaa9a9;
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #494949;
    font-size: 2rem;
    cursor: default;
}

.star-ratings-fill {
    color: #c42525;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: #ff0000;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
}

#test_cnt{
    margin-top: -20px;
    color: white;
    margin-top: 110px;
}

#htt{
    display: none;
}

#starr{
    display: none;
}



.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.401);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 10;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}



.modal {
    width: 50%;
    height: 50%;
    display: block;
    position: relative;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin: 200px auto;
}

.modal-wrapper.open .modal {
    opacity: 1;
}

.head {
    width: 100%;
    height: 55px;
    padding: 12px 30px;
    overflow: hidden;
    background: white;
}

.btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: black;
}


/* star 평가하기 */
.rating-group {
    display: inline-flex;
}

/* make hover effect work properly in IE */
.rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

/* set icon padding and size */
.rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.1em;
    font-size: 2rem;
}

/* add padding and positioning to half star labels */
.rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
}

/* set default star color */
.rating__icon--star {
    color: orange;
}

/* set color of none icon when unchecked */
.rating__icon--none {
    color: #eee;
}

/* if none icon is checked, make it red */
.rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star,
.rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
}

/* make none icon grey on rating group hover */
.rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
}

/* make none icon red on hover */
.rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
}


body{
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rating-wrap{
  max-width: 500px;
  margin: auto;
  padding: 15px;
  display: flex;
}
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rating-wrap2{
    max-width: 500px;
    margin: auto;
    padding: 15px;
    display: flex;
}.container3 {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
 }

.rating-wrap3{
    max-width: 500px;
    margin: auto;
    padding: 15px;
    display: flex;
}.container4 {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
 }

.rating-wrap4{
    max-width: 500px;
    margin: auto;
    padding: 15px;
    display: flex;
}.container5 {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
 }

.rating-wrap5{
    max-width: 500px;
    margin: auto;
    padding: 15px;
    display: flex;
}

h5{
    margin: auto 0px;
    float: left;
    width: 55px;
}
.center {
    width: 162px;
    margin: auto;
}

.rating{
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.rating > .half:before{
    content:  '\f089';
    position: absolute;
    cursor: pointer;
}

.rating > label{
    color: #ddd;
    float: right;
    cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{
    color: #e4c63f;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
    color: #e4c63f;
}
/* 2 */
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.center2 {
    width: 162px;
    margin: auto;
}



.rating2{
    border: none;
    float: left;
}

.rating2 > input {
    display: none;
}

.rating2 > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.rating2 > .half:before{
    content:  '\f089';
    position: absolute;
    cursor: pointer;
}

.rating2 > label{
    color: #ddd;
    float: right;
    cursor: pointer;
}

.rating2 > input:checked ~ label,
.rating2:not(:checked) > label:hover,
.rating2:not(:checked) > label:hover ~ label{
    color: #e4c63f;
}

.rating2 > input:checked + label:hover,
.rating2 > input:checked ~ label:hover,
.rating2 > label:hover ~ input:checked ~ label,
.rating2 > input:checked ~ label:hover ~ label{
    color: #e4c63f;
}

/* 3 */
body{
    font-family: Arial, sans-serif;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.center3 {
    width: 162px;
    margin: auto;
}


.rating3{
    border: none;
    float: left;
}

.rating3 > input {
    display: none;
}

.rating3 > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.rating3 > .half:before{
    content:  '\f089';
    position: absolute;
    cursor: pointer;
}

.rating3 > label{
    color: #ddd;
    float: right;
    cursor: pointer;
}

.rating3 > input:checked ~ label,
.rating3:not(:checked) > label:hover,
.rating3:not(:checked) > label:hover ~ label{
    color: #e4c63f;
}

.rating3 > input:checked + label:hover,
.rating3 > input:checked ~ label:hover,
.rating3 > label:hover ~ input:checked ~ label,
.rating3 > input:checked ~ label:hover ~ label{
    color: #e4c63f;
}

/* 4 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    font-family: Arial, sans-serif;
}

.container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.center4 {
    width: 162px;
    margin: auto;
}



.rating4{
    border: none;
    float: left;
}

.rating4 > input {
    display: none;
}

.rating4 > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.rating4 > .half:before{
    content:  '\f089';
    position: absolute;
    cursor: pointer;
}

.rating4 > label{
    color: #ddd;
    float: right;
    cursor: pointer;
}

.rating4 > input:checked ~ label,
.rating4:not(:checked) > label:hover,
.rating4:not(:checked) > label:hover ~ label{
    color: #e4c63f;
}

.rating4 > input:checked + label:hover,
.rating4 > input:checked ~ label:hover,
.rating4 > label:hover ~ input:checked ~ label,
.rating4 > input:checked ~ label:hover ~ label{
    color: #e4c63f;
}


body{
    font-family: Arial, sans-serif;
}

.container5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.center5 {
    width: 162px;
    margin: auto;
}


.rating5{
    border: none;
    float: left;
}

.rating5 > input {
    display: none;
}

.rating5 > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.rating5 > .half:before{
    content:  '\f089';
    position: absolute;
    cursor: pointer;

}

.rating5 > label{
    color: #ddd;
    float: right;
    cursor: pointer;
}

.rating5 > input:checked ~ label,
.rating5:not(:checked) > label:hover,
.rating5:not(:checked) > label:hover ~ label{
    color: #e4c63f;
}

.rating5 > input:checked + label:hover,
.rating5 > input:checked ~ label:hover,
.rating5 > label:hover ~ input:checked ~ label,
.rating5 > input:checked ~ label:hover ~ label{
    color: #e4c63f;
}