<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basicLayout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/movies/boxoffice.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script th:src="@{/js/user/jquery-3.6.0.min.js}"></script>
        <script src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js'></script>
        <script defer th:src="@{/js/movies/boxoffice.js}"></script>
    </th:block>
    <title>boxoffice</title>
<section2 layout:fragment="content">
    <div class="app">
        <!-- partial:index.partial.html -->
        <div class="cardList">
            <button class="cardList__btn btn btn--left">
                <div class="icon">
                    <svg>
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </div>
            </button>

            <div class="cards__wrapper">
                <div class="card" th:each="movie : ${boxOfficeList}">
                    <div class="card__image">
                        <img th:src="'https://image.tmdb.org/t/p/w500/' + ${movie.posterPath}">
                    </div>
                </div>
            </div>
        <!-- /review/reviewDetail?id=&i_user -->
            <button class="cardList__btn btn btn--right">
                <div class="icon">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </button>
        </div>
<!-------------------------------------------------------------------->
        <div class="infoList">
            <div class="info__wrapper">
                <div class="info" th:each="movie : ${boxOfficeList}">
                    <h1 class="text name" th:text="${movie.title}">제목 준비중</h1>
                    <h4 class="text location" th:text="${movie.originalTitle}">--</h4>
                    <p class="text description" th:each="genre : ${movie.genres}" th:text="${genre.genreName}">--</p>
                </div>
            </div>
        </div>


        <div class="app__bg">
            <div class="app__bg__image" th:each="movie : ${boxOfficeList}">
                <img src="" alt="" />
            </div>
        </div>
    </div>

    <svg class="icons" style="display: none;">
        <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
            <polyline points='328 112 184 256 328 400'
                      style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
        </symbol>
        <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
            <polyline points='184 112 328 256 184 400'
                      style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
        </symbol>
    </svg>


    <!----------------------------------------------------------------->
</section2>

</html>