<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/movies/genre.css}">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/movies/genre.js}"></script>
    </th:block>
    <title>genre</title>
</head>
<!-- 장르별 영화 포스터 출력 예제
<th:block th:each="genre : ${genreList}"> 전체 장르로 반복문(액션, 모험..)
    <div th:text="${genre.key}"></div> 각 장르별 이름("액션", "모험"..)
    <th:block th:each="movie : ${genre.value}"> 각 장르로 반복(액션 영화 모두 뿌리기)
        <img th:src="'https://image.tmdb.org/t/p/w500/' + ${movie.posterPath}">
    </th:block>
</th:block>
각 장르별로 20개씩 넘어온다. 정렬은 인기순
-->
<body>
<!-- 장르별로 5개씩 영화포스터가 뜨는 페이지 -->
<th:block layout:fragment="content">

<th:block th:each="genre : ${genreList}"> <!--장르-->
    <article class="each-genre" data-slide-index="0">
    <div class="p">
        <p th:text="${genre.key}"></p>
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
    </div>
    <div class="ALL">
        <section class="movies" id="movies">
            <div class="mySlides fade">
                <ul>
                    <li th:each="i : ${#numbers.sequence(0,4)}">
                        <figure>
                            <div class="img-wrapper img1">
                                <a class="aTag" th:href="@{/review/reviewDetail(movieId=${genre.value.get(i).id})}">
                                <img class="x" th:src="'https://image.tmdb.org/t/p/w500/' + ${genre.value.get(i).posterPath}">
                            <div class="darkness"></div>
                            <div class="btn-plus"><span>Hello</span></div>
                          </a>
                            </div>
                        </figure>
                    </li>
                </ul>
            </div>


            <div class="mySlides fade">
                <ul>
                    <li th:each="i : ${#numbers.sequence(5,9)}">
                        <figure>
                            <a th:href="@{/review/reviewDetail?movieId=${genre.value.get(i).id}}">
                                <img class="x" th:src="'https://image.tmdb.org/t/p/w500/' + ${genre.value.get(i).posterPath}">
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
        </section>

        <div class="M">
            <hr size="2" noshade>
            <a th:href="@{/movies/genreDetail(genreId=${reverseGenreMap.get(genre.key)})}">
                <button type="button" class="more">더보기</button>
            </a>
        </div>
    </div>
    </article>
<!--------------------------------------------------->
</th:block>
    <!--<a th:href="@{/movies/genreDetail(genreId=${reverseGenreMap.get(genre.key)})}"><div th:text="${genre.key}"></div></a>
    <th:block th:each="movie : ${genre.value}"> &lt;!&ndash;그 장르에 해당하는 영화 포스터들&ndash;&gt;
        <img th:src="'https://image.tmdb.org/t/p/w500/' + ${movie.posterPath}">
    </th:block>-->


</th:block>
</body>
</html>