<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basicLayout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/movies/genreDetail.css}">
        <link rel="icon" href="/img/logo/favicon.ico">
    </th:block>
    <th:block layout:fragment="js">
        <script defer th:src="@{/js/movies/genreDetail.js}"></script>
    </th:block>
    <title>genre detail</title>
</head>
<body>
<!-- 장르페이지에서 more을 눌렀을 때 해당 장르 영화가 쭉 뜨는 페이지(인피니티스크롤 구현) -->
<th:block layout:fragment="content">

    <input id="genreId" type="hidden" th:value="${param.genreId}">
    <div class="movie-wrap">
    <div class="movie-container">

    </div>
    </div>
</th:block>
</body>
</html>