<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>bunker by nurim</title>
  <link rel="stylesheet" th:href="@{/css/developers.css}">
  <link rel="icon" href="/img/logo/favicon.ico">
  <link defer th:src="@{/js/developers.js}">
</head>

<body>
<div class="square">
  <span></span>
  <span></span>
  <span></span>
  <div class="content">
    <h2>Developers</h2>
    <p>FrontEnd</p>
    <br>
    <p class="name">Kim Ji-min</p>
    <p class="name">Kim Ji-yeong</p>
    <p class="mail">hello1913@naver.com</p>
    <p class="mail">yeong6415@daum.net</p>
    <br>
    <p class="info" onclick="go()">More Info.</p>
  </div>
</div>

<div class="square2">
  <span></span>
  <span></span>
  <span></span>
  <div class="content2">
    <h2>Developers</h2>
    <p>BackEnd</p>
    <br>
    <p class="name">Lee Joo-chan</p>
    <p class="name">Park Eun-young</p>
    <p class="mail">ljc9393@nate.com</p>
    <p class="mail">dmss3@naver.com</p>
    <br>
    <p class="info" onclick="go()">More Info.</p>
  </div>
</div>
</body>
</html>