<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>bunker by nurim</title>
  <link rel="stylesheet" th:href="@{/css/developers.css}">
  <link rel="icon" href="/img/logo/favicon.ico">
</head>

<body>
<div class="square">
  <span></span>
  <span></span>
  <span></span>
  <div class="content">
    <h2>Developers</h2>
    <p>FrontEnd</p>
    <br>
    <p>Kim Ji-min</p>
    <p>Kim Ji-yeong</p>
    </p>
    <br>
    <a href="#">Read More</a>
  </div>
</div>


<div class="square2">
  <span></span>
  <span></span>
  <span></span>
  <div class="content2">
    <h2>Developers</h2>
    <p>BackEnd</p>
    <br>
    <p>Lee Joo-chan</p>
    <p>Park Eun-young</p>
    <br>
    <a href="#">Read More</a>
  </div>
</div>
</body>
</html>