<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>bunker by nurim</title>
  <link rel="stylesheet" th:href="@{/css/developers.css}">
  <link rel="icon" href="/img/logo/favicon.ico">
  <script defer th:src="@{/js/developers.js}"></script>
</head>

<body>
<div class="dev">
<div class="square">
  <span></span>
  <span></span>
  <span></span>
  <div class="content">
    <h2>Developers</h2>
    <p>FrontEnd</p>
    <br>
    <div class="name">
    <p>Kim Ji-min</p>
    <p>Kim Ji-yeong</p>
    </div>
    <div class="mail">
    <p>hello1913@naver.com</p>
    <p>yeong6415@daum.net</p>
    </div>
    <br>
    <button type="button" class="info" onclick='go()'>More Info.</button>
  </div>
</div>
<div class="square2">
  <span></span>
  <span></span>
  <span></span>
  <div class="content2">
    <h2>Developers</h2>
    <p>BackEnd</p>
    <br>
    <div class="name">
    <p>Lee Joo-chan</p>
    <p>Park Eun-young</p>
    </div>
    <div class="mail">
    <p>ljc9393@nate.com</p>
    <p>dmss3@naver.com</p>
    </div>
    <br>
    <button type="button" class="info" onclick="go2()">More Info.</button>
  </div>
</div>
</div>
</body>
</html>