* {
    padding: 0;
    margin: 0;
}

.help {
    margin: 0 auto;
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
    position: relative;
}

.text {
    width: 300px;
    height: 40px;
    padding-left: 50px;
}

input:focus {
    outline: none;
}

.all {
    background-color: white;
    position: relative;
}

img {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 99;
    width: 20px;
}

ul li {
    float: left;
    list-style: none;
}

ul{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

hr{
    margin-top: 150px;
}