*{
  padding: 0;
  margin: 0;

}

.profile {
display: flex;
  justify-content: center;
}

.img {
  margin-top: 30px;
  border-radius: 100%;
  width: 150px;
}


h4{
  position: absolute;
  top: 280px;
}

.self{
  position: absolute;
  top: 320px;
}

.box{
  margin: 0 auto;
  border: 1px solid black;
  width: 30%;
  height: 70px;
  margin-top: 100px;
  text-align: center;

.text{
  display: inline;
  margin: 0 auto;
}

th, td {
  display:flex;
  gap: 10px;
}

