#ALL{
    position: relative;
    border-radius: 3.75em;
    width: 40vw;
    height: auto;
    padding-bottom: 10vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
    margin: 70px auto;
}

.profilemod{
    width: 38vw;
    margin-top: 7vh;
    font-weight:700;
    font-size: 1.3em;
    float: left;
}

.myprofile{
    width: 38vw;
    margin-top: 7vh;
    font-weight:700;
    font-size: 1.3em;
    float: left;
}

.top{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width:70%;
    flex-direction: column;
}

input[name="introduce"] {
    height: 15vh;
    width: 28vw;
}

input:focus {outline:none;}

input[name='unn'] {

}

.all {
    text-align: center;
}

.imgch {
    position: absolute;
    top: 15vw;
    left: 20vw;
    width: 2.5vw;
    z-index: 10;
    background-color: rgb(224, 220, 220);
    border: none;
    border-radius: 50%;
}

.name {
    float: left;
    margin-right: 10px;
}

.pwt{
    float: left;
    margin-right: 30px;
}

.detail {
    width: 35vw;
    margin: 0 auto;
    line-height: 5vh;
    list-style: none;
}

.fw{
    font-weight: 600;
    margin: 5px 0;
    font-size: 1.1em;
}

hr{
    width:80%;
    margin-top: 1.5vh;
}

.mainProfile {
    width: 18vw;
    height: 18vw;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.46));
}

#pfimg{
    width:15px;
    height:15px;
    position: relative;
}


#save{
    margin-top: 2vh;
    margin-right: 5vw;
    margin-left: 25vw;
    border: none;
    background-color: #009759;
    color: white;
    width: 4vw;
    height: 4vh;
    border-radius: 1.5em;
}

.button{
    background-color: #009759;
    color: white;
    width: 4vw;
    height: 4vh;
    border-radius: 1.5em;
    border:none;
}

.upload{
    background-color: #009759;
    color: white;
    width: 4vw;
    height: 4vh;
    border-radius: 1.5em;
    border:none;
}

.invisible {
    position: absolute;
    opacity: 0;
    top: 16vw;
    left: 21vw;
    width: 40px;
    height: 40px;
    z-index:11;
}

#byebtn{
    position: absolute;
    top: 80px;
    margin-left: 25vw;
    float:right;
}

.upload{
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 35vh;
    margin-left: 25vw;
}

.pwmodbtn{
    background-color: #009759;
    color: white;
    width: 6vw;
    height: 4vh;
    border-radius: 1.5em;
    border:none;
}

.unn{
    width:10vw;
    height:3vh;
}

/* 비밀번호수정, 회원탈퇴 모달 */
#pw_modal {
    display: none;
    font-family: 'Montserrat', sans-serif;
}

#pw_modal .modal_close_btn {
    position: absolute;
    top: -250px;
    left: 400px;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.401);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 500;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 50%;
    height: 50%;
    display: block;
    position: relative;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin: 200px auto;
}

span input {
    display: inline-block;
    margin-left: 3vw;
}

label input {
    display: inline-block;
    width:10vw;
    height:3vh;
    line-height: 2vh;
}

.modal-wrapper.open .modal {
    opacity: 1;
}

.head {
    width: 100%;
    height: 8vw;
    padding: 3vh 2vw;
    overflow: hidden;
    background: white;
}

.btn-close {
    font-size: 2rem;
    display: block;
    float: right;
    color: black;
}

#realbye{
    position: relative;
    left: 43vw;
    /*padding-right: 10vw;*/
    background-color: #009759;
    color: white;
    width: 4vw;
    height: 4vh;
    border-radius: 1.5em;
    border:none;
}

.formtag div{
    line-height: 5vh;
    margin-left: 3vw;
}

