.top{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width:70%;
    flex-direction: column;
}

.all {
    text-align: center;
}
#ALL{
    /*border: 1px solid black;*/
    border-radius: 3.75em;
    width: 540px;
    height: 750px;
    /*box-shadow: 5px 10px 10px rgb(0, 150, 89);*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    /*filter: drop-shadow(7px 7px 10px rgb(0, 150, 89));*/
    /*background-color: white;*/
    margin: 70px auto;
}

.profilemod{
    /*width: 30vw;*/
    width: 130px;
    margin-top: 20px;
    font-weight:900;
    font-size: 1.3em;
    float: left;
}

.detail {
    /* background-color: teal; */
    width: 500px;
    margin: 0 auto;
    line-height: 35px;
    list-style: none;
}

.fw{
    font-weight: 600;
    margin: 5px 0;
    font-size: 1.1em;
}

.profilemod {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    /*box-shadow: 7px 7px 7px #000;*/
    filter: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.46));
    /*filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.68));*/
}

#save {
    color: white;
    border: 1px solid #009759;;
    text-align: center;
    border-radius: 1em;
    background-color: #009759;
    text-decoration: none;
    padding: 0.4em 1em;
    margin-left: 284px;
}

.button{
    float:right;
}

#pw_modal {
    display: none;
    font-family: 'Montserrat', sans-serif;
}

#pw_modal .modal_close_btn {
    position: absolute;
    top: -250px;
    left: 400px;
}

#pfimg{
    width:20px;
    height:20px;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.401);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 500;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}



.modal {
    width: 50%;
    height: 50%;
    display: block;
    position: relative;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin: 200px auto;
}
label input {
    display: inline-block;
}

.modal-wrapper.open .modal {
    opacity: 1;
}

.head {
    width: 100%;
    height: 55px;
    padding: 12px 30px;
    overflow: hidden;
    background: white;
}

.btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: black;
}
